@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");

* {
  background-color: #e8ebe4;
  color: #292a36;
  font-family: "Open Sans", sans-serif;
}
h1 {
  font-weight: bold;
}

/*
Possible alternative olour palette
  color: #F4F1DE;
  color: #3D405B;
  color: #E07A5f;
  color: #81B29A;
  color: #F2CC8F; */

.App {
  text-align: center;
}

.navBar {
  height: 50px;
  border-bottom: 2px rgb(168, 168, 168) solid;
  background-color: #798071;
}

.active {
  color: #81b29a;
}
