/* Global Settings */

// @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

// :root {
//   /* Font */
//   --font: #373737;
//   --dark-font: black;
//   --light-font: #8d8d8d;

//   /* Bckgrounds */
//   --background: #e6e6e6;
//   --dark-background: #e5e4e2;
//   --light-background: #f6f6f6;

//   /* Buttons */
//   --button: #2367e5;
//   --button-hover: #1857cb;
//   --button-font-color: white;

/* Borders */
// --border: #494949;
// --dark-border: #000000;
// --light-border: #none;
/* --light-border: #a0a0a0; */

//   /* Highlight Colours */
//   --highlight: #6495ed;
//   --dark-highlight: #2367e5;
//   --light-highlight: #90b2f2;
// }

// Add asterix here if using this codd block {
//   background-color: var(--background);
//   color: var(--font);
//   font-family: "Poppins", sans-serif;
// }

.nav__logo {
  font-family: "Righteous", cursive;
}

.login-modal__small-logo {
  font-family: "Righteous", cursive;
}

.login-modal__main-logo {
  font-size: 6em;
  font-family: "Righteous", cursive;
}

.bg {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)),
    url("../../assets/images/bg2.jpg");
  background-position: "center";
  background-size: "20%";
  background-repeat: "no-repeat";
}

// The below isn't working
.btn-group {
  outline: none !important;
  outline-offset: none !important;
  box-shadow: "none";
}

// /* input:focus,*/
// textarea:focus,
// select:focus {
//   outline: none;
//   -webkit-appearance: none;
// }

// a {
//   text-decoration: none;
// }
// p {
//   font-size: 0.8em;
// }

// .App {
//   text-align: center;
// }

// body {
// }

// /* .bg-image-1 {
//   background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
//     url("../../assets/images/bg1.jpg");
// } */

// .title-brand {
//   font-weight: 600;
// }

// /* Login Modal */

// .login-modal {
//   background-color: var(--light-background);
// }
// .login-background {
//   background-color: var(--light-background);
// }
// .login-dropdown {
//   background-color: var(--light-background);
// }

// .logo-container {
//   height: 150px;
// }

// .App-logo {
//   height: 150px;
//   pointer-events: none;
// }

// .add-select-user {
//   height: 125px;
// }

// .global-button {
//   width: auto;
//   height: 30px;
//   background: var(--button);
//   color: var(--button-font-color);
//   line-height: 15px;
// }

// .global-button:hover {
//   width: auto;
//   height: 30px;
//   color: var(--button-font-color);
//   background: var(--button-hover);
// }

// .select-dropdown {
//   height: 30px;
//   width: 250px;
//   background-color: var(--light-background);
//   font-size: 1.2em;
//   border-radius: 3pt;
// }

// /* Naviogation */

// .nav-bar {
//   border-bottom: 0.5px black solid;
//   height: 150 px;
// }

// .nav-col {
//   height: 46px;
// }

// .nav-bar div {
//   background-color: var(--light-background);
// }

// .nav-title {
//   color: var(--font);
//   background-color: var(--light-background);
// }

// .nav-avatar {
//   background-color: var(--light-background);
//   height: 10px;
// }

// .nav-link {
//   color: var(--font);
//   background-color: var(--light-background);
//   width: 150px;
//   transition: 0.4s;
// }

// .nav-link:hover {
//   font-weight: 500;
//   color: var(--dark-highlight);
// }

// .active {
//   color: var(--light-font) !important;
// }

// .welcome-container {
//   color: var(--dark-font);
// }

// .avatar-image-container {
//   width: 45px;
//   height: 45px;
// }

// .nav-avatar {
//   height: 100%;
//   width: auto;
// }

// /* Home Screen */

// .home-background {
//   background: var(--light-background);
// }
// .main-col {
//   border-left: var(--border) solid 1px;
//   border-right: var(--border) solid 1px;
//   border-bottom: var(--border) solid 1px;
// }

// .home-button {
//   cursor: pointer;
// }

// .home-menu-btn {
//   border-top: var(--border) solid 1px !important;
//   border-bottom: var(--border) solid 1px !important;
//   border-right: var(--border) solid 1px !important;
// }
// .home-menu-btn-right {
//   border-top: var(--border) solid 1px !important;
//   border-bottom: var(--border) solid 1px !important;
// }

// .active-home-qs-menu-btn {
//   background: var(--light-background);
// }

// .inactive-home-qs-menu-btn {
//   background: var(--background);
// }

// /* Home Screen Question Cards */
// .q-header {
//   background: var(--dark-background);
// }

// .card-border-background {
//   background-color: var(--dark-background);
//   border: 1px solid var(--dark-border);
// }

// .q-header-username {
//   background: var(--background);
// }

.btn:focus,
.btn-outline-dark:focus {
  outline: none !important;
  box-shadow: none !important;
}

// .avatar__container {
//   height: 50px;
//   width: 50px;
// }

// .avatar__image {
//   height: 100%;
//   width: auto;
// }

// .heart-icon {
//   font-size: 1.4em;
//   color: red;
// }
// .q-card-text {
//   text-decoration: none !important;
//   background-color: var(--dark-background);
// }

// /* New Questions Tab */

// .main-header-background {
//   background-color: var(--background);
// }
// .new-q-header-border {
//   border-top: var(--dark-border) 1px solid;
//   border-bottom: var(--dark-border) 1px solid;
// }

// .new-q-input {
//   height: 30px;
//   border: 1px solid var(--border);
//   border-radius: 3px !important;
//   background: var(--light-background);
//   font-size: 1.2em;
//   padding-left: 5px;
// }

// .new-q-input::placeholder {
//   color: lightgrey;
// }

@import "custom";
