
/*
  Colour palette
  color: #F4F1DE;
  color: #3D405B;
  color: #E07A5f;
  color: #81B29A;
  color: #F2CC8F; */

.App {
  text-align: center;
}

.navBar {
  height: 50px;
  border-bottom: 1px rgb(75, 75, 75) solid;
}
