@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .blur-bg {
    -webkit-backdrop-filter: blur(10px) !important;
    backdrop-filter: blur(10px) !important;
    background-color: rgba(24, 24, 24, 0.63) !important;
  }
  .warning {
    display: none;
  }
}

@import "custom";
