.LoginModal {
    border: 3px black solid;
    border-radius: 10px;
    width: 50%;
    height: 50%;
    margin: auto;
    padding: 20px;
    
  }
  .login-select-btn {
    all: unset;
    color: cornflowerblue;
  }
  .add-select-user {
    height: 200px;
  }